<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Windows_Form_Mini_Project.Properties.Settings._netSQLConnectionString"
            connectionString="Data Source=TEJAS\SQL2025;Initial Catalog=.netSQL;Persist Security Info=True;User ID=SA;Password=3938;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>